.Nums {
    &-num {
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 196.19%;
        color: #241400;
        margin-right: 30px;
    }

    &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 196.19%;
        color: #241400;
    }
}